*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

header{
    background-image: url(img/jumbo.png);
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

nav{
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

[class^="col_nav"]{
    float: left;
}

.col_nav_img{
    width: 124px;
}


.col_nav_but{
    width: 68px
}

.col_nav_list{
    width: calc(100% - 124px - 68px);
}

nav ul{
    list-style: none;
    line-height: 34px;
    
}

nav li{
    float: left;
    padding-left: 35px;
}

nav li:first-child{
    padding-left: 300px;
}

a{
    color: currentColor;
    text-decoration: none;
}

.button.accedi{
    line-height: 34px;
    background-color: white;
    border-radius: 20px;
    padding: 0 10px;
    color: rgb(32, 35, 37);
}

.col_head{
    width: 600px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.col_head h1{
    font-size: 50px;
    padding-bottom: 40px;
}

.col_head p{
    line-height: 25px;
    padding-bottom: 20px;
}

.col_head div{
    display: inline-block;
}


#scarica {
    color: rgb(32, 35, 37);
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    margin-right: 20px;
}

#apri{
    color: white;
    background-color: rgb(32, 35, 37);
    padding: 10px 20px;
    border-radius: 50px;
}


main{
    width: 1300px;
    margin: 0 auto;
}

.col_main_1,.col_main_2{
    float: left;
}

main section{
    padding-top: 80px;
}

.col_main_2{
    padding-top: 40px;
    text-align: left;
    max-width: 350px;

}

.col_main_2 h2{
    font-size: 45px;
    padding-bottom: 30px;
}

.col_main_2 p{
    line-height: 25px;
}

.col_main_1{
    margin-right: 200px;
}

.riga_main_t{
    text-align: center;
}

.riga_main_t h2{
    font-size: 45px;
    padding-bottom: 30px;
}

.riga_main_t p{
    line-height: 25px;
}

.riga_main_i img{
    margin: 0 auto;
    display: block;
}

.riga_main_f{
    text-align: center;
}

.riga_main_f h3{
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 40px;
    display: inline-block;
    padding: 30px;
}

#bot_sca_f{
    color: white;
    background-color: rgb(132,152,215);
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
}

main{
    margin-bottom: 100px;
}

footer{
    background-color: rgb(32, 35, 37);
    min-height: 600px;
}

.contenitore_foot{
    width: 1300px;
    color: white;
    padding-top: 60px;
    margin: 0 auto;
}

[class^="col_foot"]{
    float: left;
    width: 17%;
}

footer li{
    list-style: none;
    line-height: 30px;
}

.col_foot_1{
    width: 32%;
    padding-right: 190px;
}

footer li:first-child,h3{
    color: rgb(132,152,215);
}

footer .col_foot_1 h3{
    font-size: 25px;
    padding-bottom: 20px;
}

#bandiera{
    height: 20px;
}

.col_foot_1 span{
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    padding-bottom: 20px;
}

#el_col_foot_1 i{
    padding-right: 15px;
}

.contenitore_foot{
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(132,152,215);
}

.contenitore_foot_2{
    padding-top: 30px;
    width: 1300px;
    margin: 0 auto;
}

.contenitore_foot_2 a{
    display: inline-block;
    color: white;
    background-color: rgb(132,152,215);
    padding: 10px 20px;
    border-radius: 50px;
    float: right;
}

.contenitore_foot_2 img{
    float: left;
}